In [1]:
import pandas as pd
import numpy as np
import os
import copy

In [20]:
# https://stackoverflow.com/questions/46950173/python-looping-through-directory-and-saving-each-file-using-filename-as-data-fr

root = '/Volumes/ACHEN/NAL/NAL_all_counties_2020/2_NAL_csv_versions/smallest-group'
temp = {}
for file in os.listdir(root):
    if file.endswith(".csv"):
        name = os.path.splitext(file)[0]
        temp[name] = pd.read_csv(os.path.join(root, file))

/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (61,69,71) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (92) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (63,107) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (88,89,92,107) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (90) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (97) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (59,69,93) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (107) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (8,71) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (91,97) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (63,75) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (63,91,99) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (63,92,97) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (61,97) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (60,92,107) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (59,63,70,97) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (59,69) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (100) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (63,65,92,98,107) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [25]:
# https://stackoverflow.com/questions/28669482/appending-pandas-dataframes-generated-in-a-for-loop
# create a list of all the dataframe names in the batch 
df_list = []

for key in temp.keys():
    df_list.append(key)

print(df_list)

['NAL11F202001', 'NAL12F202001', 'NAL13F202001', 'NAL14F202001', 'NAL17F202001', 'NAL22F202002VAB', 'NAL24F202003', 'NAL25F202001', 'NAL28F202002VAB', 'NAL29F202001', 'NAL30F202001', 'NAL31F202002VAB', 'NAL32F202002VAB', 'NAL33F202002', 'NAL34F202001', 'NAL35F202001', 'NAL36F202001', 'NAL38F202001', 'NAL40F202001', 'NAL41F202001', 'NAL42F202003VAB', 'NAL43F202001', 'NAL44F202001', 'NAL47F202001', 'NAL48F202001', 'NAL49F202001', 'NAL50F202001', 'NAL53F202002', 'NAL54F202001', 'NAL55F202001', 'NAL56F202003VAB', 'NAL57F202002VAB', 'NAL64F202002VAB', 'NAL70F202001', 'NAL71F202002VAB', 'NAL72F202002VAB', 'NAL73F202001', 'NAL75F202001', 'NAL76F202002VAB', 'NAL77F202002VAB']

In [77]:
# use for loop to go through all the dataframes
# NAL11F202001 = pd.DataFrame.from_dict(temp['NAL11F202001'])
# this is not my ideal method but I couldn't get the original one to work

# batch1_counties = ['Alachua','Baker', 'Bay', 'Bradford', 'Calhoun', 'Columbia', 'DeSoto', 'Dixie', 'Flagler', 'Franklin', 'Gadsden', 'Gilchrist', 'Glades', 'Gulf', 'Hamilton', 'Hardee', 'Hendry', 'Highlands', 'Holmes', 'Indian River', 'Jackson', 'Jefferson', 'Lafayette', 'Leon', 'Levy', 'Liberty', 'Madison', 'Martin', 'Monroe', 'Nassau', 'Okaloosa', 'Okeechobee', 'Putnam', 'Sumter', 'Suwannee', 'Taylor', 'Union', 'Wakulla', 'Walton', 'Washington']

# temp2 = {}

# for county, b in zip(batch1_counties, df_list):
#     temp2[county] = pd.DataFrame.from_dict(temp[df])

Alachua = pd.DataFrame.from_dict(temp['NAL11F202001'])
Baker = pd.DataFrame.from_dict(temp['NAL12F202001'])
Bay = pd.DataFrame.from_dict(temp['NAL13F202001'])
Bradford = pd.DataFrame.from_dict(temp['NAL14F202001'])
Calhoun = pd.DataFrame.from_dict(temp['NAL17F202001'])
Columbia = pd.DataFrame.from_dict(temp['NAL22F202002VAB'])
DeSoto = pd.DataFrame.from_dict(temp['NAL24F202003'])
Dixie = pd.DataFrame.from_dict(temp['NAL25F202001'])
Flagler = pd.DataFrame.from_dict(temp['NAL28F202002VAB'])
Franklin = pd.DataFrame.from_dict(temp['NAL29F202001'])
Gadsden = pd.DataFrame.from_dict(temp['NAL30F202001'])
Gilchrist = pd.DataFrame.from_dict(temp['NAL31F202002VAB'])
Glades = pd.DataFrame.from_dict(temp['NAL32F202002VAB'])
Gulf = pd.DataFrame.from_dict(temp['NAL33F202002'])
Hamilton = pd.DataFrame.from_dict(temp['NAL34F202001'])
Hardee = pd.DataFrame.from_dict(temp['NAL35F202001'])
Hendry = pd.DataFrame.from_dict(temp['NAL36F202001'])
Highlands = pd.DataFrame.from_dict(temp['NAL38F202001'])
Holmes = pd.DataFrame.from_dict(temp['NAL40F202001'])
IndianRiver = pd.DataFrame.from_dict(temp['NAL41F202001'])
Jackson = pd.DataFrame.from_dict(temp['NAL42F202003VAB'])
Jefferson = pd.DataFrame.from_dict(temp['NAL43F202001'])
Lafayette = pd.DataFrame.from_dict(temp['NAL44F202001'])
Leon = pd.DataFrame.from_dict(temp['NAL47F202001'])
Levy = pd.DataFrame.from_dict(temp['NAL48F202001'])
Liberty = pd.DataFrame.from_dict(temp['NAL49F202001'])
Madison = pd.DataFrame.from_dict(temp['NAL50F202001'])
Martin = pd.DataFrame.from_dict(temp['NAL53F202002'])
Monroe = pd.DataFrame.from_dict(temp['NAL54F202001'])
Nassau = pd.DataFrame.from_dict(temp['NAL55F202001'])
Okaloosa = pd.DataFrame.from_dict(temp['NAL56F202003VAB'])
Okeechobee = pd.DataFrame.from_dict(temp['NAL57F202002VAB'])
Putnam = pd.DataFrame.from_dict(temp['NAL64F202002VAB'])
Sumter = pd.DataFrame.from_dict(temp['NAL70F202001'])
Suwannee = pd.DataFrame.from_dict(temp['NAL71F202002VAB'])
Taylor = pd.DataFrame.from_dict(temp['NAL72F202002VAB'])
Union = pd.DataFrame.from_dict(temp['NAL73F202001'])
Wakulla = pd.DataFrame.from_dict(temp['NAL75F202001'])
Walton = pd.DataFrame.from_dict(temp['NAL76F202002VAB'])
Washington = pd.DataFrame.from_dict(temp['NAL77F202002VAB'])

In [78]:
# create empty dataframe with column names
# names = ['CO_NO','PARCEL_ID','FILE_T','ASMNT_YR','BAS_STRT','ATV_STRT','GRP_NO','DOR_UC','PA_UC','SPASS_CD','JV','JV_CHNG','JV_CHNG_CD','AV_SD','AV_NSD','TV_SD','TV_NSD','JV_HMSTD','AV_HMSTD','JV_NON_HMSTD_RESD','AV_NON_HMSTD_RESD','JV_RESD_NON_RESD','AV_RESD_NON_RESD','JV_CLASS_USE','AV_CLASS_USE','JV_H2O_RECHRGE','AV_H2O_RECHRGE','JV_CONSRV_LND','AV_CONSRV_LND','JV_HIST_COM_PROP','AV_HIST_COM_PROP','JV_HIST_SIGNF','AV_HIST_SIGNF','JV_WRKNG_WTRFNT','AV_WRKNG_WTRFNT','NCONST_VAL','DEL_VAL','PAR_SPLT','DISTR_CD','DISTR_YR','LND_VAL','LND_UNTS_CD','NO_LND_UNTS','LND_SQFOOT','DT_LAST_INSPT','IMP_QUAL','CONST_CLASS','EFF_YR_BLT','ACT_YR_BLT','TOT_LVG_AREA','NO_BULDNG','NO_RES_UNTS','SPEC_FEAT_VAL','MULTI_PAR_SAL1','QUAL_CD1','VI_CD1','SALE_PRC1','SALE_YR1','SALE_MO1','OR_BOOK1','OR_PAGE1','CLERK_NO1','SAL_CHNG_CD1','MULTI_PAR_SAL2','QUAL_CD2','VI_CD2','SALE_PRC2','SALE_YR2','SALE_MO2','OR_BOOK2','OR_PAGE2','CLERK_NO2','SAL_CHNG_CD2','OWN_NAME','OWN_ADDR1','OWN_ADDR2','OWN_CITY','OWN_STATE','OWN_ZIPCD','OWN_STATE_DOM','FIDU_NAME','FIDU_ADDR1','FIDU_ADDR2','FIDU_CITY','FIDU_STATE','FIDU_ZIPCD','FIDU_CD','S_LEGAL','APP_STAT','CO_APP_STAT','MKT_AR','NBRHD_CD','PUBLIC_LND','TAX_AUTH_CD','TWN','RNG','SEC','CENSUS_BK','PHY_ADDR1','PHY_ADDR2','PHY_CITY','PHY_ZIPCD','ALT_KEY','ASS_TRNSFR_FG','PREV_HMSTD_OWN','ASS_DIF_TRNS','CONO_PRV_HM','PARCEL_ID_PRV_HMSTD','YR_VAL_TRNSF','EXMPT_01','EXMPT_02','EXMPT_03','EXMPT_04','EXMPT_05','EXMPT_06','EXMPT_07','EXMPT_08','EXMPT_09','EXMPT_10','EXMPT_11','EXMPT_12','EXMPT_13','EXMPT_14','EXMPT_15','EXMPT_16','EXMPT_17','EXMPT_18','EXMPT_19','EXMPT_20','EXMPT_21','EXMPT_22','EXMPT_23','EXMPT_24','EXMPT_25','EXMPT_26','EXMPT_27','EXMPT_28','EXMPT_29','EXMPT_30','EXMPT_31','EXMPT_32','EXMPT_33','EXMPT_34','EXMPT_35','EXMPT_36','EXMPT_37','EXMPT_38','EXMPT_39','EXMPT_40','EXMPT_41','EXMPT_80','EXMPT_81','EXMPT_82','SEQ_NO','RS_ID','MP_ID','STATE_PAR_ID','SPC_CIR_CD','SPC_CIR_YR','SPC_CIR_TXT']

In [86]:
# now we can merge multiple dataframes together as long as the column names are the same
# merged_df = pd.concat([df1, df2] axis=1)
merged_df = pd.concat([Alachua,Baker,Bay,Bradford,Calhoun,Columbia,DeSoto,Dixie,Flagler,Franklin,Gadsden,Gilchrist,Glades,Gulf,Hamilton,Hardee,Hendry,Highlands,Holmes,IndianRiver,Jackson,Jefferson,Lafayette,Leon,Levy,Liberty,Madison,Martin,Monroe,Nassau,Okaloosa,Okeechobee,Putnam,Sumter,Suwannee,Taylor,Union,Wakulla,Walton,Washington],axis=0)

In [95]:
# check the fields are there
merged_df[11000:11005]

,CO_NO,PARCEL_ID,FILE_T,ASMNT_YR,BAS_STRT,ATV_STRT,GRP_NO,DOR_UC,PA_UC,SPASS_CD,...,EXMPT_80,EXMPT_81,EXMPT_82,SEQ_NO,RS_ID,MP_ID,STATE_PAR_ID,SPC_CIR_CD,SPC_CIR_YR,SPC_CIR_TXT
11000,11,03230-001-020,R,2020,4.0,8.0,5.0,0,0,NaN,...,NaN,NaN,NaN,11086,1EE5,00002754,C11-000-001-0068-5,NaN,NaN,NaN
11001,11,03230-001-021,R,2020,1.0,1.0,1.0,1,0,NaN,...,NaN,NaN,NaN,11087,1EE5,00002755,C11-000-001-0069-3,NaN,NaN,NaN
11002,11,03230-001-022,R,2020,1.0,1.0,1.0,1,0,NaN,...,NaN,NaN,NaN,11088,1EE5,00002756,C11-000-001-0070-1,NaN,NaN,NaN
11003,11,03230-001-023,R,2020,1.0,1.0,1.0,1,0,NaN,...,NaN,NaN,NaN,11089,1EE5,00002757,C11-000-001-0071-9,NaN,NaN,NaN
11004,11,03230-001-024,R,2020,4.0,8.0,5.0,0,0,NaN,...,NaN,NaN,NaN,11090,1EE5,00002758,C11-000-001-0072-7,NaN,NaN,NaN

In [96]:
# now make a new dataframe with only the fields we want
df2 = merged_df[['CO_NO','PARCEL_ID','MP_ID','STATE_PAR_ID','DOR_UC','JV','JV_CLASS_USE','AV_CLASS_USE','OWN_NAME','OWN_ADDR1','OWN_ADDR2','OWN_CITY','OWN_ZIPCD','OWN_STATE_DOM','CENSUS_BK','PHY_ADDR1','PHY_ADDR2','PHY_CITY','PHY_ZIPCD','LND_UNTS_CD','NO_LND_UNTS']]

In [99]:
df3 = df2[df2['JV_CLASS_USE'].notna()] #in this case, keep rows where there is a number in filter the column JV_CLASS_USE

In [105]:
# replace county two-digit codes with names
# df.brand = df.brand.map( {'volvo':0 , 'bmw':1, 'audi':2} )

df3.CO_NO = df3.CO_NO.map({11: 'Alachua', 12: 'Baker', 13: 'Bay', 14: 'Bradford', 15: 'Brevard', 16: 'Broward', 17: 'Calhoun', 18: 'Charlotte', 19: 'Citrus', 20: 'Clay', 21: 'Collier', 22: 'Columbia', 23: 'Dade', 24: 'DeSoto', 25: 'Dixie', 26: 'Duval', 27: 'Escambia', 28: 'Flagler', 29: 'Franklin', 30: 'Gadsden', 31: 'Gilchrist', 32: 'Glades', 33: 'Gulf', 34: 'Hamilton', 35: 'Hardee', 36: 'Hendry', 37: 'Hernando', 38: 'Highlands', 39: 'Hillsborough', 40: 'Holmes', 41: 'IndianRiver', 42: 'Jackson', 43: 'Jefferson', 44: 'Lafayette', 45: 'Lake', 46: 'Lee', 47: 'Leon', 48: 'Levy', 49: 'Liberty', 50: 'Madison', 51: 'Manatee', 52: 'Marion', 53: 'Martin', 54: 'Monroe', 55: 'Nassau', 56: 'Okaloosa', 57: 'Okeechobee', 58: 'Orange', 59: 'Osceola', 60: 'PalmBeach', 61: 'Pasco', 62: 'Pinellas', 63: 'Polk', 64: 'Putnam', 67: 'SantaRosa', 68: 'Sarasota', 69: 'Seminole', 65: 'StJohns', 66: 'StLucie', 70: 'Sumter', 71: 'Suwannee', 72: 'Taylor', 73: 'Union', 74: 'Volusia', 75: 'Wakulla', 76: 'Walton', 77: 'Washington'})

/usr/local/lib/python3.8/site-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [109]:
group_by_county = df3.groupby('CO_NO')

In [110]:
for county, group in group_by_county:
    group.to_csv('{}_agr_2020.csv'.format(county), index=False)